<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <nav class="navbar">
      <div>
        <a
          class="navbar-brand"
          routerLink="/home"
          routerLinkActive="active"
          style="color: aliceblue"
        >
          <img src="./assets/images/R.png" alt="Logo" width="40" height="40" />
          Commerce Zone
        </a>
      </div>
    </nav>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/home"
            routerLinkActive="active"
            data-text="Home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/products"
            routerLinkActive="active"
            data-text="Products"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/cart"
            routerLinkActive="active"
            data-text="Cart"
            >Cart</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/contact"
            routerLinkActive="active"
            data-text="Contact Us"
            >Contact Us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link custom-link"
            routerLink="/login"
            routerLinkActive="active"
            data-text="Login"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
