<div class="container">
  <h2 class="cart-title">🛒 Your Shopping Cart</h2>

  <div class="cart-grid">
    @for (product of cartProducts; track $index) {
    <div class="card animated-card">
      <img [src]="product.image" class="card-img-top" alt="Product image" />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-price"><b>Price:</b> ${{ product.price }}</p>
        <p class="card-text">
          {{
            isExpanded[product.id]
              ? product.description
              : (product.description | slice: 0:100) + '...'
          }}
          <a class="see-more" (click)="toggleExpand(product.id)">
            {{ isExpanded[product.id] ? 'See Less' : 'See More' }}
          </a>
        </p>
        <div class="button-group">
          <button class="btn btn-submit" (click)="buyNow($index)">
            Buy Now
          </button>
          <button class="btn btn-delete" (click)="deleteFromCart($index)">
            🗑️
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="clear-cart-container">
    <button class="btn btn-clear" (click)="deleteCart()">♻️ Clear Cart</button>
  </div>
</div>
