.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #2c3e50;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #1b263b;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  height: 100%;
  min-height: 450px;

  animation: fadeIn 0.8s ease-in-out forwards, slideIn 0.8s ease-in-out forwards;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  padding: 1rem;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.card-title {
  color: #ffd60a;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-price {
  color: #28a745;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #f1f1f1;

  flex-grow: 1;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.btn-delete:hover {
  background-color: #c82333;
}
.clear-cart-container {
  text-align: center;
  margin-top: 20px;
}

.btn-clear {
  background-color: #a72828;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #3a0817;
}
