<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
/>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-left">
      <h2>Get in Touch</h2>
      <p>Shop it. Love it. Get it.</p>
      <div class="social-icons">
        <a
          href="https://www.facebook.com/ibrahim.redaelshabrawy.7"
          target="_blank"
        >
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/ibrahim__elshabrawy/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ibrahim-elshabrawy?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app
"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a href="https://github.com/Ibrahimelshabrawy" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
      </div>
    </div>

    <div class="footer-right">
      <div class="contact-card">
        <i class="fa-solid fa-phone"></i>
        <span>+20 1027272741</span>
      </div>
      <div class="contact-card">
        <i class="fas fa-envelope"></i>
        <a href="mailto:Ibrahimshabra11@gmail.com" target="_blank">{{
          'Ibrahimshabra11@gmail.com'
        }}</a>
      </div>
    </div>
  </div>
</footer>
